<header>
  <div class="cajaHeader">
      <div class="logos">
          <div class="claseTitulo"><a href="/"><img class="imgLogo" src="/images/logo_grande.jpg" alt=""></a></div>
      </div>
      <div class="logearse">
          <a href="/users/signin">Sign In</a>
          <a href="/users/login">Log in</a>
      </div>
  </div>
</header>
