<%- include('head'); %>

  <main class="container col col-lg-5 text-center">
    <form form action="/validar-signin" method="post">

       <h1 class="h3 mb-3 fw-normal form-title">Log in to your account</h1>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label class="text-white">
          <input type="checkbox" value="remember-me" > Remember me
        </label>
      </div>
      <input type="submit" class="btn btn-primary btn-end-form" value="Log in">
    </form>
  </main>

<%- include('footer'); %>
