<%- include('head'); %>


  <!-- Contenido -->
  <main class="container">

    <p>
      Muchas gracias por inscribirte en nuestro foro.
    </p>
    <p><a href="/">Volver al index</a></p>
  </main>
  <!-- fin contenido -->
  <%- include('footer'); %>
