<%- include('head'); %>


  <!-- Contenido -->
  <main class="container">

    <p id="validar-signin-texto-p">
      Muchas gracias por inscribirte en nuestro foro.
    </p>
    <p><a id="validar-signin-link" href="/">Volver al index</a></p>
  </main>
  <!-- fin contenido -->
  <%- include('footer'); %>
